<h2 mat-dialog-title>Cadastrar Equipamento</h2>

<mat-dialog-content [formGroup]="equipamentoForm">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">
          <div fxFlex="100">
              <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input matInput name="id" [formControl]="equipamentoForm.controls['id']" placeholder="ID">
                  </mat-form-field>
                  <small *ngIf="equipamentoForm.controls.id.touched && equipamentoForm.controls.id.errors?.required" class="form-error-msg">ID é obrigatório</small>
                </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="ip" [formControl]="equipamentoForm.controls['ip']" placeholder="IP">
              </mat-form-field>
              <small *ngIf="equipamentoForm.controls.ip.touched && equipamentoForm.controls.ip.errors?.required" class="form-error-msg">IP é obrigatório</small>
            </div>
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="nome" [formControl]="equipamentoForm.controls['nome']" placeholder="Nome">
              </mat-form-field>
              <small *ngIf="equipamentoForm.controls.nome.touched && equipamentoForm.controls.nome.errors?.required" class="form-error-msg">Nome é obrigatorio</small>
            </div>
  
          </div>
          <div fxFlex="100">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="tempo" [formControl]="equipamentoForm.controls['tempo']" placeholder="Tempo de leitura">
              </mat-form-field>
              <small *ngIf="equipamentoForm.controls.tempo.touched && equipamentoForm.controls.tempo.errors?.required" class="form-error-msg">Tempo de Leitura é obrigatorio</small>
            </div>
          </div>
        </div>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button class="mat-raised-button"(click)="close()">Fechar</button>
      <button class="mat-raised-button mat-primary" (click)="cadastrarEquipamento()">Cadastrar</button>
    </mat-dialog-actions>