<h2 mat-dialog-title>Equipamentos Cadastrados</h2>

<mat-dialog-content>

    <mat-card class="lebraile-card" *ngFor="let eqp of equipamentos">
        <mat-card-header> Equipamento:  {{eqp?.nomeAluno}} </mat-card-header>
        <mat-card-content>
            <p>Código do Equipamento - {{eqp?.ip}} </p>
            <p>Tempo de Leitura - {{eqp?.tempoCaractere}} </p>
            <p><button class="mat-raised-button mat-warn" (click)="removerEquipamento(eqp?.id)">Remover Equipamento</button> </p>
        </mat-card-content>
    </mat-card>
    
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Fechar</button>
</mat-dialog-actions>