<section id="contact-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
    <div class="container">
      <div class="section-header">
        <h2>Comece Agora! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>
        <div fxFlex="18" fxLayoutAlign="left" class="pb-1">
          <button class="mat-raised-button mat-primary" (click)="limpar(); mensagem.value=''" > Limpar </button>
        </div>
      </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pb-1">
        <mat-form-field class="full-width">
        <textarea matInput row="8" name="message" #mensagem (keyup)="traduzir($event)" placeholder="Comece a digitar e veja nossa tradução em tempo real."></textarea>
      </mat-form-field>
    </div>
  </div>

   <br>
   <br>
   <app-letra-traduzida *ngFor="let letra of letrasTraduzidas" [letra]="letra" ></app-letra-traduzida>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">
      <div fxFlex="18"  class="pb-1">
          <button class="mat-raised-button mat-primary" (click)="carregarInclusaoEquipamento()" > Cadastrar Equipamento </button>
      </div>
      <div fxFlex="18"  class="pb-1">
          <button class="mat-raised-button mat-primary" (click)="listarEquipamentos()" > Equipamentos Cadastrados </button>
      </div>
    </div>
    </div>
  </section>