<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Sobre Nós</b></h4>
          <p>Somos uma dupla de desenvolvedores. 
            Que tivemos uma idéia para simplificar o acesso ao braile. 
            Nossa missão é ser facilitadores para a inserção do deficiente visual de qualquer classe social ao braile.</p>
        </div>
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Contatos</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> contato@lebraile.org </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">L</mat-icon>
                <h5 matLine><b>Endereço</b></h5>
                <p matLine>Praça da Bandeira, 137 </p>
                <p matLine>Bela Vista, SP </p>
              </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </section>
</footer>