<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Sobre Nós</b></h4>
          <p>Somos uma dupla de desenvolvedores. 
            Que tivemos uma idéia para simplificar o acesso ao braile. 
            Nossa missão é ser facilitadores para a inserção do deficiente visual de qualquer classe social ao braile.</p>
        </div>
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Contatos</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> pauloesporto@gmail.com / engmoraes.java@gmail.com </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">L</mat-icon>
                <h5 matLine><b>Endereço</b></h5>
                <p matLine>Praça da Bandeira, 137 </p>
                <p matLine>Bela Vista, SP </p>
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Redes Sociais</b></h4>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>