<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Arquitetura de uso</h2>
      <p>Abaixo toda a estrutura para leitura braile
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
        <div fxFlex="25">
            <mat-card class="home-fancy-card">
              <div fxLayout="column">
                <div class="text-center">
                  <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
                </div>
                <span fxFlex="20px"></span>
                <h3 class="m-0 font-light">Equipamento Inovador</h3>
                <span fxFlex="20px"></span>
                <p class="m-0 description">O Lebraile é um equipamento portatil e eficiente, feito para deficientes visuais de qualquer classe social visando ser uma porta de entrada acessivel ao braile 
                </p>
                <span fxFlex="40px"></span>
                <div>
                  <button mat-button><strong class="text-muted">MONTE O SEU</strong></button>
                </div>
              </div>
            </mat-card>
          </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Portal Web Integrado</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">o Lebraile conta com um portal web que também pode ser usado por professores ou bibliotecas para a distribuição de conteudo digital para os equipamentos fisicos.<br><br>
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">ACESSE AGORA</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Aplicativo Mobile Próprio</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">O Lebraile conta com um aplicativo mobile para professores, distrubuindo o conteudo para multiplos equipamentos ao mesmo tempo.<br><br>
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">BAIXE AGORA</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>