<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Arquitetura de uso</h2>
      <p>
          O Lebraile foi desenvolvido para auxiliar a inclusão social de pessoas com deficiência, facilitando a alfabetização de crianças e adultos. 
          Neste contexto, todo o projeto é Open Source, ou seja, código aberto. Qualquer pessoa pode consultar, examinar e fabricar seu próprio Lebraile.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
        <div fxFlex="25">
            <mat-card class="home-fancy-card">
              <div fxLayout="column">
                <div class="text-center">
                  <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
                </div>
                <span fxFlex="20px"></span>
                <h3 class="m-0 font-light">Equipamento Inovador</h3>
                <span fxFlex="20px"></span>
                <p class="m-0 description">
                    O Lebraile é um equipamento portátil e eficiente, 
                    desenvolvido para que pessoas com deficiência visual possam ter acesso à linguagem Braile com maior facilidade, 
                    estimulando assim a alfabetização em todas as faixas etárias. Monte o seu.
                </p>
                <span fxFlex="40px"></span>
                <div>
                  <button mat-button><strong class="text-muted">MONTE O SEU</strong></button>
                </div>
              </div>
            </mat-card>
          </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Portal Web Integrado</h3>
            <span fxFlex="24px"></span>
            <p class="m-0 description">
                O Lebraile conta com o portal Web, que também pode ser usado por professores, 
                simpatizantes ou até mesmo, bibliotecas, 
                para a distribuição de conteúdo digital para os equipamentos físicos.<br><br><br>
            </p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">ACESSE AGORA</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Aplicativo Mobile Próprio</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">
                Além do Portal Web, o Lebraile possui o app mobile, voltado para professores.
                Através do app, o educador consegue disponibilizar conteúdo digital para múltiplos equipamentos ao mesmo tempo, 
                facilitando também o trabalho de docência. 
            <br></p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button><strong class="text-muted">BAIXE AGORA</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>