<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Nosso Projeto</h2>
      <p>O Lebraile desde seu início passou por muitas transformações, desde seus objetivos enquanto equipamento e, 
        principalmente das estruturas de software e hardware. As mudanças foram necessárias para se obter um equipamento com melhor custo, 
        qualidade e com um design que facilitasse sua portabilidade. Abaixo é possível acompanhar de forma rápida como ocorreram essas mudanças. 
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v0.png">
          <mat-card-content>
            <h5><strong>Primeiro Protótipo</strong></h5>
            <p>
                A primeira versão projetada teve o intuito de testar a comunicação do dispositivo com o portal Lebraile, através de um padrão simples de display LED. <br><br><br><br>
            </p><br><br><br><br>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v1.png">
          <mat-card-content>
            <h5><strong>Segundo Protótipo</strong></h5>
            <p>
                Na segunda versão apresentamos o primeiro protótipo físico, já com uma mecânica funcional – mas, ainda não eficiente para os objetivos que procurávamos.<br><br><br>
            </p><br><br><br><br>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v2.png">
          <mat-card-content>
            <h5><strong><a href="">Tereceiro Protótipo</a></strong></h5>
            <p>
                Aqui, mantivemos a mesma arquitetura da versão anterior, mas apresentamos melhorias no sentido da mobilidade e estrutura de hardware.<br><br>
            </p> <br><br><br><br><br><br>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v3_2.png">
          <mat-card-content>
            <h5><strong><a href="">Quarto Protótipo</a></strong></h5>
            <p>
             Nesta versão, foi repensada a estrutura do hardware anterior, devido importantes avanços na tecnologia do software, 
             permitindo as primeiras validações táteis feitas com pessoas com deficiência visual.<br><br>
            </p><br><br><br>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v4.png">
          <mat-card-content>
            <h5><strong><a href="">Versão 1.0 Community</a></strong></h5>
            <p>
                Primeira Versão Oficial: Através das validações com pessoas com deficiência visual, foi repensado novamente a estrutura física (hardware) e software, 
                sendo projetado um design otimizado, 
                com melhor adaptabilidade tátil e bateria interna para melhor durabilidade e mobilidade. 
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>