<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Nosso Projeto</h2>
      <p>O Lebraile já passou por muitas transformações, e estamos constantemente melhorando visando sempre melhorar o custo e aumentar a qualidade, 
        confira nossa linha do tempo
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v0.png">
          <mat-card-content>
            <h5><strong>Primeiro Protótipo</strong></h5>
            <p>
              Nesta versão testamos a comunicação entre <a href="/acao">portal</a> e dispositivo com um padrão simples de display LED. <br><br><br><br>
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v1.png">
          <mat-card-content>
            <h5><strong>Segundo Protótipo</strong></h5>
            <p>
              Nesta versão fizemos um primeiro protótipo conceitual com uma mecânica funcional, porém ainda não eficiente.<br><br><br>
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v3_2.png">
          <mat-card-content>
            <h5><strong><a href="">Tereceiro Protótipo</a></strong></h5>
            <p>
              Com a mesma arquitetura do protótipo anterior, esta versão conseguiu melhorar conceitos de portabilidade e arquitetura de Hardware.<br><br>
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v3_2.png">
          <mat-card-content>
            <h5><strong><a href="">Quarto Protótipo</a></strong></h5>
            <p>
              Desconstruimos a ideia de hardware anterior, com uma arquitetura de software mais robustas. Permitindo as primeiras validações táteis com deficientes visuais.<br><br>
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/v4.png">
          <mat-card-content>
            <h5><strong><a href="">Versão 1.0 Community</a></strong></h5>
            <p>
              Com o novo design de software e Hardware da versão anterior, produzimos um design otimizado, com bateria interna para melhor mobilidade.
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>