<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Nosso Projeto</h2>
      <p>O Lebraile já passou por muitas transformações, e estamos constantemente melhorando, visando sempre o baixo custo 
        e a portabilidade do equipamento, confira nossa linha do tempo
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-12.jpg">
          <mat-card-content>
            <h5><strong><a href="">Primeira Versão</a></strong></h5>
            <p>
              Nessa versão testamos o lebraile, trabalhando com leds para validar o envio de conteudo digital para o equipamento.
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-9.jpg">
          <mat-card-content>
            <h5><strong><a href="">Segunda Versão</a></strong></h5>
            <p>
              Nesta versão substituimos a estrutura de leds por motores para representar os pontos do caractere braile
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-10.jpg">
          <mat-card-content>
            <h5><strong><a href="">Terceira Versão</a></strong></h5>
            <p>
              Para essa versão criamos um design que ficasse confortavel para o deficiente visual segurar o equipamento
            </p>
            <mat-divider class="mb-1"></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>