<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div>
      <h1 class="home-intro-title">Lebraile Community</h1>
      <div class="home-intro-desc">
        O Lebraile é um equipamento de arquitetura livre para hardware e software. Foi pensado para ser um instrumento portátil e de baixo custo, com intuito de facilitar o processo de ensino - aprendizagem da linguagem braile às pessoas com deficiência visual.
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Inclusão digital e social </div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Estímulo e apoio à alfabetização </div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Baixo custo – acessibilidade </div>
       <div fxFlex="100">
        <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Portátil </div>
      </div>
    </div>
    <div fxFlex="50">
      <div class="intro-product">
        <video autoplay controls>
            <source src="assets/images/lebraile-funcionamento.mp4" autoplay type="video/mp4">
            Your browser does not support the video tag. 
        </video>
      </div>
    </div>
  </div>
</section>