<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="50">
      <h1 class="home-intro-title">Equipamento Portatil para leitura Braile!</h1>
      <div class="home-intro-desc">
        Lebraile é um equipamento portatil de baixo custo para facilitar o contato do deficiente visual com a linguagem braile
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Baixo Custo</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Portatil</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Inovador</div>
      </div>
       <!-- <div fxLayout="row" fxLayout.lt-sm="column">
        <button mat-raised-button mat-lg-button (click)="buyEgret()"><mat-icon>add_shopping_cart</mat-icon> Comprar Lebraile</button>
      </div> -->
    </div>
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
    <div fxFlex="50">
      <div class="intro-product">
        <!--<a matRipple class="intro-product-link" href="https://themeforest.net/item/egret-angular-4-material-design-admin-template/20161805?ref=mh_rafi" target="_blank">
          <div class="price">$24</div>
          <span class="price-text">Buy From ThemeForest</span>
        </a>-->
        <img mat-card-image src="assets/images/prototipo_3d.png" [style.margin]="'0 !important'">
      </div>
    </div>
  </div>
</section>