<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div>
      <h1 class="home-intro-title">Lebraile Community</h1>
      <div class="home-intro-desc">
        Lebraile é um equipamento de arquitetura livre para hardware e software, portatil, de baixo custo para facilitar o contato do deficiente visual com a linguagem braile
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Inclusão Digital</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Apoio a Alfabetização</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Baixo Custo</div>
       <div fxFlex="100">
        <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Portátil</div>
      </div>
    </div>
    <div fxFlex="50">
      <div class="intro-product">
        <video autoplay controls>
            <source src="assets/images/lebraile-funcionamento.mp4" autoplay type="video/mp4">
            Your browser does not support the video tag. 
        </video>
      </div>
    </div>
  </div>
</section>