<div class="tamanho-letra">
  <label class="letra">{{letra.caractere}}</label>
  <label class="letra"></label>
  <br>
  <i [class]="'fa fa-circle' + (letra.braille[0] == 1 ? ' cor-letra' : '-thin')" aria-hidden="true"></i>
  <i [class]="'fa fa-circle' + (letra.braille[1] == 1 ? ' cor-letra' : '-thin')" aria-hidden="true"></i>
  <i [class]="'fa fa-circle' + (letra.braille[2] == 1 ? ' cor-letra' : '-thin')" aria-hidden="true"></i>
  <i [class]="'fa fa-circle' + (letra.braille[3] == 1 ? ' cor-letra' : '-thin')" aria-hidden="true"></i>
  <i [class]="'fa fa-circle' + (letra.braille[4] == 1 ? ' cor-letra' : '-thin')" aria-hidden="true"></i>
  <i [class]="'fa fa-circle' + (letra.braille[5] == 1 ? ' cor-letra' : '-thin')" aria-hidden="true"></i>
</div>
